version: '3.7'

services:
  haproxy:
    image: tpbtools/gp-haproxy:1.1.0
    build: haproxy
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./data/usr/local/etc/haproxy:/usr/local/etc/haproxy
      - ./data/etc/letsencrypt:/etc/letsencrypt
      
networks:
    default:
      external:
        name: platform_services
